$colorprimario: #000; // TODO: * Modificar color primario
$colorsecundario: rgb(255, 0, 0); // TODO: * Modificar color secundario
$color-p: #fff;
$color-f: $colorsecundario;
$color-t: $color-p;
$color-titulo: $colorprimario;
$fondo-l: "media/fondo-long.jpg"; // TODO: * Modificar fondo de pantalla
$fondo-m: "media/fondo-mediom.jpg";
$fondo-s: "media/fondo-small.jpg"; // TODO: * Modificar fondo de pantalla
$font: "fonts/go3v2.ttf";
