$colorprimario: #000; // TODO: * Modificar color primario
$colorsecundario: rgb(201, 153, 60); // TODO: * Modificar color secundario
$color-p: #fff;
$color-f: $colorprimario;
$color-t: $color-p;
$color-titulo: $colorprimario;
$fondo-l: "media/fondo-long.jpg"; // TODO: * Modificar fondo de pantalla
$fondo-m: "media/fondo-mediom.jpg";
$fondo-s: "media/fondo-small.jpg"; // TODO: * Modificar fondo de pantalla
$font: "fonts/GoboldBold.otf";
$font-l: "fonts/GoboldLight.otf";
$font-r: "fonts/GoboldRegular.otf";
