-   
    // TODO: nombre de variable PLATES
    var combos = {
        name: "Combos",
        category: "combos",
        descripcion: "Aqui_va_la_descripcion_de_la_pagina",
        content: [
            {
                img: {
                    picture:"PLATO_DEFAULT",
                    extention: ".jpg"
                },
                text: "Sushi Inn Menú",
                description: "California roll kanikama, tallarín de pollo M y gaseosa 500 ml.",
                price_uno: 69,
                price_dos: false,
                link:"sushi_inn_menu.html",
                status: true
            },
            {
                img: {
                    picture:"PLATO_DEFAULT",
                    extention: ".jpg"
                },
                text: "Sushi Inn Box",
                description: "Variedad de 15 unidades de diferentes sushis,  2 spring rolls y 1 gaseosa 500 ml.",
                price_uno: 79,
                price_dos: false,
                link:"sushi_in_box.html",
                status: true
            },{
                img: {
                    picture:"PLATO_DEFAULT",
                    extention: ".jpg"
                },
                text: "Sushi Inn Box Plata",
                description: "Variedad de 20 unidades de diferentes sushis, sesame balls y gaseosa de 500 ml.",
                price_uno: 109,
                price_dos: false,
                link:"sushi_in_box_plata.html",
                status: true
            },{
                img: {
                    picture:"PLATO_DEFAULT",
                    extention: ".jpg"
                },
                text: "Sushi Inn Box Gold",
                description: "Variedad de 25 unidades  de diferentes sushis y 2 gaseosas de 500 ml.",
                price_uno: 139,
                price_dos: false,
                link:"sushi_inn_box_gold.html",
                status: true
            },{
                img: {
                    picture:"PLATO_DEFAULT",
                    extention: ".jpg"
                },
                text: "Sushi Inn Box VIP",
                description: "Variedad de 40 unidades de diferentes sushis y una porción gyoza más 2 gaseosas de 500 ml.",
                price_uno: 199,
                price_dos: false,
                link:"sushi_inn_box_VIP.html",
                status: true
            },{
                img: {
                    picture:"PLATO_DEFAULT",
                    extention: ".jpg"
                },
                text: "Sushi Inn Box Elite",
                description: "Variedad de 50 unidades de diferentes sushis, 2 brochetas de yakatori, porción de gyosa y 4 spring rolls.",
                price_uno: 249,
                price_dos: false,
                link:"sushi_inn_box_elite.html",
                status: true
            },
            
        ]
    }