//- TODO: *Configuraciones iniciales
- var title = "The Grillroom"
- var author = "Cristhian Chauca"
- var page = "Menu"
- var metadescripcion = ""
- var keywords = ""
- var plato = ""
- var numSponsor = Math.floor(Math.random() * (6 - 0)) + 0;
//- TODO: *config THEME
- var logo = {img:"logo",extention:".svg",alt: "Logo"}
- var favIcon = "favicon.png"
- var colorTheme = "#000"
- var bannerHeader= {img:"header",extention:".png", alt: "banner - header"}
- 
    var sponsor = [
        {
            name:"Pacenia",
            img:"pacenia",
            extencion:".svg"
        },
        {
            name:"huari",
            img:"huari",
            extencion:".svg"
        },
        {
            name:"H2OH",
            img:"h2oh",
            extencion:".svg"
        },
        {
            name:"Pepsi",
            img:"pepsi",
            extencion:".svg"
        },
        
        {
            name:"7-up",
            img:"7-up",
            extencion:".svg"
        },
        {
            name:"Guarana",
            img:"guarana",
            extencion:".svg"
        }
    ];
- var boton = false
- var btnAtras = "back_link.svg"