-   
    // TODO: nombre de variable PLATES
    var doner_kebabs = {
        name: "Döner Kebab",
        category: "doner_kebabs",
        descripcion: "Aqui_va_la_descripcion_de_la_pagina",
        content: [
            {
                img: {
                    picture:"DONER_KEBAB_POLLO",
                    extention: ".jpg"
                },
                text: "Döner Kebab",
                description: "Pan con carne de cerdo, res ó pollo con lechuga, tomate y salsa tzaziki.",
                price_uno: "28",
                price_dos: false,
                link:"doner_kebab.html",
                status: true
            },
            {
                img: {
                    picture:"DONER_KEBAB_ESPECIAL_POLLO_UNO",
                    extention: ".jpg"
                },
                text: "Döner Kebab Especial",
                description: "Pan con carne de cerdo, res ó pollo con lechuga, tomate y salsa tzaziki servido con papas fritas y ensalada.",
                price_uno: 32,
                price_dos: false,
                link:"doner_kebab_especial.html",
                status: true
            },
            {
                img: {
                    picture:"DONER_KEBAB_GRILLROOM_CARNE",
                    extention: ".jpg"
                },
                text: "Döner Kebab Grillroom",
                description: "descripcion_del_plato",
                price_uno: 39,
                price_dos: false,
                link:"doner_kebab_grillroom.html",
                status: true
            }
            
        ]
    }