-   
    // TODO: nombre de variable PLATES
    var gyros = {
        name: "Gyros",
        category: "gyros",
        descripcion: "Aqui_va_la_descripcion_de_la_pagina",
        content: [
            {
                img: {
                    picture:"GYROS_M",
                    extention: ".jpg"
                },
                text: "Gyros",
                description: "Tortillas con carne de cerdo, res รณ pollo, lechuga y tomate, aderezados con salsas de coctel picante y ajo.",
                price_uno: 18,
                price_dos: 23,
                price_tres: 28,
                link:"gyro.html",
                status: true
            },
            {
                img: {
                    picture:"GYROS_ESPECIAL_M",
                    extention: ".jpg"
                },
                text: "Gyros Especial",
                description: "Tortillas con carne de cerdo, res รณ pollo, lechuga y tomate, aderezados con salsas de coctel picante y ajo, servido con papas fritas y ensalada.",
                price_uno: 27,
                price_dos: 32,
                price_tres: 36,
                link:"gyros_especial.html",
                status: true
            },
            {
                img: {
                    picture:"GYROS_GRILLROOM_M",
                    extention: ".jpg"
                },
                text: "Gyros Grillroom",
                description: "descripcion_del_plato",
                price_uno: 39,
                price_dos: false,
                link:"gyros_grillroom.html",
                status: true
            }
        ]
    }