-   
    var menu = [
        {
            name: "Combos",
            link: "combos.html",
            status: true
        },
        {
            name: "Shawarma",
            link: "shawarma.html",
            status: true
        },
        {
            name: "Gyros",
            link: "gyros.html",
            status: true
        },
        {
            name: "Döner Kebab",
            link: "doner_kebabs.html",
            status: true
        },
        {
            name: "Otros",
            link: "otros.html",
            status: true
        },
        {
            name: "Salsas",
            link: "salsas.html",
            status: true
        },
        {
            name: "Bebidas",
            link: "bebidas.html",
            status: true
        }
    ]