-   
    var menu = [
        {
            name: "Combos",
            link: "combos.html",
            status: true
        },
        {
            name: "Sushi",
            link: "shawarma.html",
            status: true
        },
        {
            name: "Sashimi",
            link: "gyros.html",
            status: true
        },
        {
            name: "Tallarin",
            link: "doner_kebabs.html",
            status: true
        },
        {
            name: "Ramen",
            link: "otros.html",
            status: true
        },
        {
            name: "Otros",
            link: "salsas.html",
            status: true
        },
        {
            name: "Bebidas",
            link: "bebidas.html",
            status: true
        }
    ]