-   
    var menu = [
        {
            name: "Combos",
            link: "combos.html",
            status: true
        },
        {
            name: "Sushi",
            link: "sushis.html",
            status: true
        },
        {
            name: "Sashimi",
            link: "sashimis.html",
            status: true
        },
        {
            name: "Tallarín",
            link: "tallarines.html",
            status: true
        },
        {
            name: "Ramen",
            link: "ramens.html",
            status: true
        },
        {
            name: "Otros",
            link: "otros.html",
            status: true
        },
        {
            name: "Bebidas",
            link: "bebidas.html",
            status: true
        }
    ]