-   
    // TODO: nombre de variable PLATES
    var otros = {
        name: "Otros",
        category: "otros",
        descripcion: "Aqui_va_la_descripcion_de_la_pagina",
        content: [
            {
                img: {
                    picture:"SHISH_KEBAB",
                    extention: ".jpg"
                },
                text: "Shish Kebab",
                description: "2 brochetas de carne con morron, cebolla y especies de la casa, servido con papas fritas y salsa a elección",
                price_uno: 28,
                price_dos: false,
                link:"shish_kebab.html",
                status: true
            },
            {
                img: {
                    picture:"GRILLROOM_BURGER",
                    extention: ".jpg"
                },
                text: "The Grillroom Burger",
                description: "Hamburguesa con salsas de ajo y coctel picante servido con papas fritas y ensalada.",
                price_uno: 28,
                price_dos: false,
                link:"the_grillroom_burger.html",
                status: true
            },
            {
                img: {
                    picture:"SOUVLAKI_RES",
                    extention: ".jpg"
                },
                text: "Souvlaki",
                description: "3 brochetas de carne cerdo, res ó pollo, servido con salsa tzaziki.",
                price_uno: 26,
                price_dos: false,
                link:"souvlaki.html",
                status: true
            },
            {
                img: {
                    picture:"SOUVLAKI_POLLO_DOS_PUNTO_CERO",
                    extention: ".jpg"
                },
                text: "Souvlaki Especial",
                description: "3 brochetas de carne cerdo, res ó pollo, servido con salsa tzaziki, papas fitas y ensalada.",
                price_uno: 35,
                price_dos: false,
                link:"souvlaki_especial.html",
                status: true
            },
            {
                img: {
                    picture:"MOUSAKA",
                    extention: ".jpg"
                },
                text: "Moussaka",
                description: "Berenjenas al horno gratinadas con base de papa, rellena de carne de res, vegetales y salsa de tomate.",
                price_uno: 36,
                price_dos: false,
                link:"moussaka.html",
                status: true
            },
            {
                img: {
                    picture:"VEGAN_MOUSSAKA",
                    extention: ".jpg"
                },
                text: "Vegan Moussaka",
                description: "Berenjenas al horno con base de papa, rellena de vegetales y salsa de tomate.",
                price_uno: 32,
                price_dos: false,
                link:"vegan_moussaka.html",
                status: true
            },
            {
                img: {
                    picture:"FALAFEL",
                    extention: ".jpg"
                },
                text: "Falafel",
                description: "8 croquetas de garbanzo servido con salsa tzaziki.",
                price_uno: 26,
                price_dos: false,
                link:"falafel.html",
                status: true
            },
            {
                img: {
                    picture:"HUMMUS",
                    extention: ".jpg"
                },
                text: "Pan pita + Hummus",
                description: "Pan pita casera servido con hummus.",
                price_uno: 24,
                price_dos: false,
                link:"pan_pita_hummus.html",
                status: true
            },
            {
                img: {
                    picture:"PITA_QUESO",
                    extention: ".jpg"
                },
                text: "Pita Queso",
                description: "2 pan pitas con queso gratinado acompañado con una salsa a elección servido con papas fritas y ensalada.",
                price_uno: 26,
                price_dos: false,
                link:"pita_queso.html",
                status: true
            },
            {
                img: {
                    picture:"PAPAS_FRITAS_GRILLROOM",
                    extention: ".jpg"
                },
                text: "Papas Fritas Grillroom",
                description: "Papas fritas servido con salsa a elección.",
                price_uno: 20,
                price_dos: false,
                link:"papas_fritas_grillroom.html",
                status: true
            }
            
        ]
    }