-   
    // TODO: nombre de variable PLATES
    var otros = {
        name: "Otros",
        category: "otros",
        descripcion: "Aqui_va_la_descripcion_de_la_pagina",
        content: [
            {
                img: {
                    picture:"YAKITORI_POLLO",
                    extention: ".jpg"
                },
                text: "Yakitori de Pollo",
                description: "4 brochetas Japonesas de pollo.",
                price_uno: 36,
                price_dos: 20,
                link:"Yakitori_de_Pollo.html",
                status: true
            },
            {
                img: {
                    picture:"YAKITORI_RES",
                    extention: ".jpg"
                },
                text: "Yakitori de Res",
                description: "4 brochetas Japonesas de res.",
                price_uno: 38,
                price_dos: 22,
                link:"Yakitori_de_Res.html",
                status: true
            },
            {
                img: {
                    picture:"YAKITORI_CERDO",
                    extention: ".jpg"
                },
                text: "Yakitori de Cerdo",
                description: "4 brochetas Japonesas de cerdo.",
                price_uno: 38,
                price_dos: 22,
                link:"Yakitori_de_Cerdo.html",
                status: true
            },
            {
                img: {
                    picture:"YAKITORI_LANGOSTINO",
                    extention: ".jpg"
                },
                text: "Yakitori de Langostino",
                description: "4 brochetas Japonesas de langostinos.",
                price_uno: 42,
                price_dos: 25,
                link:"Yakitori_de_Langostino.html",
                status: true
            },
            {
                img: {
                    picture:"YAKITORI_MIXTO",
                    extention: ".jpg"
                },
                text: "Yakitori Mixto",
                description: "4 brochetas Japonesas mixta (res y pollo).",
                price_uno: 38,
                price_dos: 22,
                link:"Yakitori_Mixto.html",
                status: true
            },
            {
                img: {
                    picture:"GYOZA_POLLO",
                    extention: ".jpg"
                },
                text: "Gyoza de Pollo",
                description: "6 gyozas de vegetales y pollo acompañadas de wasabi, jengibre, salsa soya y teriyaki.",
                price_uno: 26,
                price_dos: false,
                link:"Gyoza_de_Pollo.html",
                status: true
            },
            {
                img: {
                    picture:"GYOSA_CERDO",
                    extention: ".jpg"
                },
                text: "Gyoza de Cerdo",
                description: "6 gyozas de cerdo con vegetales acompañadas de wasabi, jengibre, salsa soya y teriyaki.",
                price_uno: 28,
                price_dos: false,
                link:"Gyoza_de_Cerdo.html",
                status: true
            },
            {
                img: {
                    picture:"GYOSA_RES",
                    extention: ".jpg"
                },
                text: "Gyoza de Res",
                description: "6 gyozas de res con vegetales acompañadas de wasabi, jengibre, salsa soya y teriyaki.",
                price_uno: 29,
                price_dos: false,
                link:"Gyoza_de_Res.html",
                status: true
            },
            {
                img: {
                    picture:"LANGIOSTINO_TEMPURA",
                    extention: ".jpg"
                },
                text: "Tempura Langostino",
                description: "Langostinos empanizados con panko acompañados de wasabi, jengibre y salsa teriyaki.",
                price_uno: 46,
                price_dos: 27,
                link:"Tempura_Langostino.html",
                status: true
            },
            {
                img: {
                    picture:"TEMPURA_VERDURAS",
                    extention: ".jpg"
                },
                text: "Tempura Verduras",
                description: "Tempura de verduras empanizado con panko acompañado de wasabi, jengibre y salsa teriyaki.",
                price_uno: 34,
                price_dos: 20,
                link:"Tempura_Verduras.html",
                status: true
            },
            {
                img: {
                    picture:"TEMPURA_SUSHI",
                    extention: ".jpg"
                },
                text: "Tempura Sushi Inn",
                description: "Langostinos y verdura empanizada con panko acompañado de wasabi, jengibre y salsa teriyaki.",
                price_uno: 49,
                price_dos: 28,
                link:"Tempura_Sushi_Inn.html",
                status: true
            },
            {
                img: {
                    picture:"SPRING_ROLLS",
                    extention: ".jpg"
                },
                text: "Spring Rolls",
                description: "4 lumpias rellenas de pollo y verduras servidas con wasabi, jengibre, salsa soya y teriyaki.",
                price_uno: 28,
                price_dos: 18,
                link:"Spring_Rolls.html",
                status: true
            },
            {
                img: {
                    picture:"PLATO_DEFAULT",
                    extention: ".jpg"
                },
                text: "Spring Rolls",
                description: "4 lumpias rellenas de cerdo y verduras servidas con wasabi, jengibre, salsa soya y teriyaki.",
                price_uno: 29,
                price_dos: 19,
                link:"Spring-rolls.html",
                status: true
            },
            {
                img: {
                    picture:"PLATO_DEFAULT",
                    extention: ".jpg"
                },
                text: "Spring Rolls",
                description: "4 lumpias rellenas de res y verduras servidas con wasabi, jengibre, salsa soya y teriyaki.",
                price_uno: 30,
                price_dos: 20,
                link:"SpringRolls.html",
                status: true
            }
            
        ]
    }