-   
    // TODO: nombre de variable PLATES
    var otros = {
        name: "Otros",
        category: "otros",
        descripcion: "Aqui_va_la_descripcion_de_la_pagina",
        content: [
            {
                img: {
                    picture:"YAKITORI_POLLO",
                    extention: ".jpg"
                },
                text: "Yakitori",
                list:[
                    {
                        plate:"Brochetas Japonesas de pollo.",
                        price_uno: 20,
                        price_dos:36
                    },
                    {
                        plate:"Brochetas Japonesas de res.",
                        price_uno: 22,
                        price_dos:38
                    },
                    {
                        plate:"brochetas Japonesas de cerdo.",
                        price_uno: 22,
                        price_dos:38
                    },
                    {
                        plate:"brochetas Japonesas de langostinos.",
                        price_uno: 25,
                        price_dos:42
                    },
                    {
                        plate:"brochetas Japonesas mixta (res y pollo).",
                        price_uno: 22,
                        price_dos:38
                    }
                ],
                link:"Yakitori.html",
                status: true
            },
            {
                img: {
                    picture:"GYOZA_POLLO",
                    extention: ".jpg"
                },
                text: "Gyoza",
                list:[
                    {
                        plate:"Gyozas de vegetales y pollo acompañadas de wasabi, jengibre, salsa soya y teriyaki.",
                        price_uno: 26,
                        price_dos:false
                    },
                    {
                        plate:"Gyozas de cerdo con vegetales acompañadas de wasabi, jengibre, salsa soya y teriyaki.",
                        price_uno: 28,
                        price_dos:false
                    },
                    {
                        plate:"Gyozas de res con vegetales acompañadas de wasabi, jengibre, salsa soya y teriyaki.",
                        price_uno: 29,
                        price_dos:false
                    }
                ],
                link:"Gyoza.html",
                status: true
            },
            {
                img: {
                    picture:"TEMPURA_SUSHI",
                    extention: ".jpg"
                },
                text: "Tempura",
                list:[
                    {
                        plate:"Tempura de langostinos empanizados con panko acompañados de wasabi, jengibre y salsa teriyaki.",
                        price_uno: 27,
                        price_dos:46
                    },
                    {
                        plate:"Tempura de verduras empanizado con panko acompañado de wasabi, jengibre y salsa teriyaki.",
                        price_uno: 20,
                        price_dos:34
                    },
                    {
                        plate:"Tempura Sushi Inn, langostinos y verdura empanizada con panko acompañado de wasabi, jengibre y salsa teriyaki.",
                        price_uno: 28,
                        price_dos:49
                    }
                ],
                link:"Tempura.html",
                status: true
            },
            {
                img: {
                    picture:"SPRING_ROLLS",
                    extention: ".jpg"
                },
                text: "Spring Rolls",
                list: [
                    {
                        plate:"Lumpias rellenas de pollo y verduras servidas con wasabi, jengibre, salsa soya y teriyaki.",
                        price_uno: 18,
                        price_dos:28
                    },
                    {
                        plate:"Lumpias rellenas de cerdo y verduras servidas con wasabi, jengibre, salsa soya y teriyaki.",
                        price_uno: 19,
                        price_dos:29
                    },
                    {
                        plate:"Lumpias rellenas de res y verduras servidas con wasabi, jengibre, salsa soya y teriyaki.",
                        price_uno: 20,
                        price_dos:23
                    }
                ],
                link:"Spring_Rolls.html",
                status: true
            }
        ]
    }