-   
    // TODO: nombre de variable PLATES
    var ramens = {
        name: "Ramen",
        category: "ramens",
        descripcion: "Aqui_va_la_descripcion_de_la_pagina",
        content: [
            {
                img: {
                    picture:"RAMEN_SUSHI_INN",
                    extention: ".jpg"
                },
                text: "Ramen Sushi Inn",
                description: "Sopa de fideos ramen con verduras y pollo.",
                price_uno: 24,
                price_dos: 34,
                link:"Ramen_Sushi_Inn.html",
                status: true
            },
            {
                img: {
                    picture:"RAMEN_RES",
                    extention: ".jpg"
                },
                text: "Ramen Carne",
                description: "Sopa de fideos ramen con verduras y carne de res.",
                price_uno: 26,
                price_dos: 36,
                link:"Ramen_Carne.html",
                status: true
            },
            {
                img: {
                    picture:"RAMEN_CERDO",
                    extention: ".jpg"
                },
                text: "Ramen Cerdo",
                description: "Sopa de fideos ramen con verduras y carne de cerdo.",
                price_uno: 26,
                price_dos: 36,
                link:"Ramen_Cerdo.html",
                status: true
            },
            {
                img: {
                    picture:"RAMEN_MARINERO",
                    extention: ".jpg"
                },
                text: "Ramen Marinero",
                description: "Sopa de fideos ramen con verduras y langostinos.",
                price_uno: 29,
                price_dos: 39,
                link:"Ramen_Marinero.html",
                status: true
            },
            {
                img: {
                    picture:"RAMEN_PULPO",
                    extention: ".jpg"
                },
                text: "Ramen Pulpo",
                description: "Sopa de fideos ramen con verduras y pulpo.",
                price_uno: 28,
                price_dos: 38,
                link:"Ramen_Pulpo.html",
                status: true
            },
            
        ]
    }