-   
    // TODO: nombre de variable PLATES
    var salsas = {
        name: "Salsas",
        category: "salsas",
        descripcion: "Aqui_va_la_descripcion_de_la_pagina",
        content: [
            {
                img: {
                    picture:"SALSA_DE_AJO",
                    extention: ".jpg"
                },
                text: "Salsa de ajo",
                description: "",
                price_uno: 5,
                price_dos: false,
                link:"salsa_de_ajo.html",
                status: true
            },
            {
                img: {
                    picture:"SALSA_TZATZIKI",
                    extention: ".jpg"
                },
                text: "Salsa de cebolla y tomate",
                description: "",
                price_uno: 5,
                price_dos: false,
                link:"salsa_de_cebolla_y_tomate.html",
                status: true
            },
            {
                img: {
                    picture:"SALSA_COCTEL_PICANTE",
                    extention: ".jpg"
                },
                text: "Salsa de coctel picante",
                description: "",
                price_uno: 5,
                price_dos: false,
                link:"salsa_de_coctel_picante.html",
                status: true
            },
            {
                img: {
                    picture:"SALSA_TZATZIKI",
                    extention: ".jpg"
                },
                text: "Salsa tzaziki",
                description: "",
                price_uno: 5,
                price_dos: false,
                link:"salsa_tzaziki.html",
                status: true
            }
        ]
    }