-   
    // TODO: nombre de variable PLATES
    var sashimis = {
        name: "sashimi",
        category: "sashimis",
        descripcion: "Aqui_va_la_descripcion_de_la_pagina",
        content: [
            {
                img: {
                    picture:"MIX_SASHIMI",
                    extention: ".jpg"
                },
                text: "Mix de Sashimi",
                description: "Láminas de salmón, atún, trucha  y pulpo servido con langostinos, wasabi, salsa soya y jengibre.",
                price_uno: 54,
                price_dos: false,
                link:"Mix_de_Sashimi.html",
                status: true
            },
            {
                img: {
                    picture:"SASHIMI_TRUCHA",
                    extention: ".jpg"
                },
                text: "Sashimi Trucha",
                description: "Láminas de trucha acompañadas de wasabi, salsa soya y jengibre.",
                price_uno: 49,
                price_dos: false,
                link:"Sashimi_Trucha.html",
                status: false
            },
            {
                img: {
                    picture:"SASHIMI_SALMON",
                    extention: ".jpg"
                },
                text: "Sashimi Salmón",
                description: "Láminas de salmón acompañadas de wasabi, salsa soya y jengibre.",
                price_uno: 49,
                price_dos: false,
                link:"Sashimi_Salmon.html",
                status: true
            },
            {
                img: {
                    picture:"SASHIMI_ATUN",
                    extention: ".jpg"
                },
                text: "Sashimi Atún",
                description: "Láminas atún servidas con wasabi, salsa soya y jengibre.",
                price_uno: 59,
                price_dos: false,
                link:"Sashimi_Atun.html",
                status: true
            },
            
            
        ]
    }