-   
    // TODO: nombre de variable PLATES
    var shawarma = {
        name: "Shawarma",
        category: "shawarma",
        descripcion: "Aqui_va_la_descripcion_de_la_pagina",
        content: [
            //- {
            //-     img: {
            //-         picture:"PLATO-DEFAULT",
            //-         extention: ".jpg"
            //-     },
            //-     text: "Nombre_Plato_1",
            //-     description: "descripcion_del_plato",
            //-     price_uno: "25",
            //-     price_dos: "30",
            //-     link:"plato.html",
            //-     status: true
            //- },
            {
                img: {
                    picture:"SHAWARMA_M",
                    extention: ".jpg"
                },
                text: "Pita shawarma",
                description: "Shawarma con carne de cerdo, res 칩 pollo en pan pita con lechuga y tomate, aderezados con salsas de ajo,  cebolla y tomate.",
                price_uno: 23,
                price_dos: 28,
                link:"pita_shawarma_m.html",
                status: true
            },
            {
                img: {
                    picture:"SHAWARMA_ESPECIAL_M",
                    extention: ".jpg"
                },
                text: "Pita shawarma Especial",
                description: "Shawarma con carne de cerdo, res 칩 pollo en pan pita con lechuga y tomate, aderezados con salsas de ajo,  cebolla y tomate servido con papas fritas y ensalada.",
                price_uno: "32",
                price_dos: "36",
                link:"pita_shawarma_expecial.html",
                status: true
            },
            {
                img: {
                    picture:"SHAWARMA_GRILLROOM",
                    extention: ".jpg"
                },
                text: "Grillroom shawarma",
                description: "Shawarma con carne de cerdo, res 칩 pollo con lechuga, tomate, cebolla, morron y champi침ones aderezados con salsas de ajo, cebolla y tomate, servido con papas fritas y ensalada.",
                price_uno: "39",
                price_dos: false,
                link:"grillroom_shawarma.html",
                status: true
            }
        ]
    }