-   
    // TODO: nombre de variable PLATES
    var sushis = {
        name: "Sushi",
        category: "sushis",
        descripcion: "Aqui_va_la_descripcion_de_la_pagina",
        content: [
            {
                img: {
                    picture:"CALIFORNIA_ROLL",
                    extention: ".jpg"
                },
                text: "California Roll",
                description: "California rolls rellenos con crema, palta, pepino y a elección: salmón, atún, langostino, pulpo o kanikama.",
                price_uno: 24,
                price_dos: 39,
                link:"california_roll.html",
                status: true
            },
            {
                img: {
                    picture:"URUMAKI_VEGETARIANO",
                    extention: ".jpg"
                },
                text: "Urumaki Vegetariano",
                description: "California rolls rellenos con crema, palta, pepino y zanahoria.",
                price_uno: 20,
                price_dos: 34,
                link:"urumaki_vegetariano.html",
                status: true
            },
            {
                img: {
                    picture:"GRILLED_SUSHI",
                    extention: ".jpg"
                },
                text: "Grilled Sushi",
                description: "Rolls rellenos con crema, palta, carne de res y tocino.",
                price_uno: 25,
                price_dos: 42,
                link:"grilled_sushi.html",
                status: true
            },
            {
                img: {
                    picture:"MAKI_TRADICIONAL",
                    extention: ".jpg"
                },
                text: "Maki Tradicional",
                description: "Maki con palta y una elección entre salmón, atún, langostino, pulpo o kanikama.",
                price_uno: 24,
                price_dos: 39,
                link:"maki_tradicional.html",
                status: true
            },
            {
                img: {
                    picture:"MAKI_TAMAGO",
                    extention: ".jpg"
                },
                text: "Maki Tamago",
                description: "Maki con omelette, queso crema y palta.",
                price_uno: 22,
                price_dos: 36,
                link:"maki_tamago.html",
                status: true
            },
            {
                img: {
                    picture:"VEGGIE_MAKI",
                    extention: ".jpg"
                },
                text: "Veggie Maki",
                description: "Maki vegetariano con queso crema, pepino y palta.",
                price_uno: 20,
                price_dos: 34,
                link:"vegie_maki.html",
                status: true
            },
            {
                img: {
                    picture:"NIGIRI_TRADICIONAL",
                    extention: ".jpg"
                },
                text: "Nigiri Tradicional",
                description: "6 nigiris sushi, elige entre salmón, atún, pulpo, kanikama ó langostino.",
                price_uno: 26,
                price_dos: 44,
                link:"nigiri_tradicional.html",
                status: true
            },
            {
                img: {
                    picture:"NIGIRI_MIXTO",
                    extention: ".jpg"
                },
                text: "Nigiri Mixto",
                description: "Variedad de 10 nigiris sushi entre: salmón, atún, langostinos, kanikama, pulpo y trucha.",
                price_uno: 32,
                price_dos: 54,
                link:"Nigiri_Mixto.html",
                status: true
            },
            {
                img: {
                    picture:"NIGIRI_RES",
                    extention: ".jpg"
                },
                text: "Nigiri de Res",
                description: "6 Nigiris de res.",
                price_uno: 24,
                price_dos: 42,
                link:"Nigiri_de_Res.html",
                status: true
            },
            {
                img: {
                    picture:"TEMAKI_TRADICIONAL",
                    extention: ".jpg"
                },
                text: "Temaki Tradicional",
                description: "Temaki sushi enrollado en forma de cono con vegetales, arroz y puedes elegir entre: salmón, atún, langostino, pulpo o kanikama.",
                price_uno: 26,
                price_dos: 44,
                link:"Temaki_Tradicional.html",
                status: true
            },
            {
                img: {
                    picture:"TEMAKI_VEGETARIANO",
                    extention: ".jpg"
                },
                text: "Temaki Vegetariano",
                description: "Temaki es un sushi enrollado en forma de cono relleno de vegetales, queso crema y arroz.",
                price_uno: 22,
                price_dos: 38,
                link:"Temaki_Vegetariano.html",
                status: true
            },
            {
                img: {
                    picture:"SUSHI_FRITO",
                    extention: ".jpg"
                },
                text: "Sushi Frito",
                description: "Sushi empanizado con panko y fritado elige entre: salmón, atún, pulpo, langostinos ó trucha.",
                price_uno: 28,
                price_dos: 48,
                link:"sushi_frito.html",
                status: true
            },
            {
                img: {
                    picture:"SESAM_BALLS",
                    extention: ".jpg"
                },
                text: "Sesame Balls",
                description: "Bolitas de arroz con sésamo relleno con palta, philadelphia acompañadas de wasabi, jengibre, salsa soya y teriyaki.",
                price_uno: 16,
                price_dos: 24,
                link:"Sesame_Balls.html",
                status: true
            },
            {
                img: {
                    picture:"GOHAN_SUSHI_ENSALDA_SUSHI_INN",
                    extention: ".jpg"
                },
                text: "Gohan Sushi Inn",
                description: "El Gohan sushi (ensalada) en bowl para comerlo sin enrollar, arroz, salmón, langostino y kanikama servido con wasabi y salsa soya.",
                price_uno: 26,
                price_dos: 46,
                link:"Gohan_Sushi_Inn.html",
                status: true
            },
            
            
        ]
    }