-   
    // TODO: nombre de variable PLATES
    var tallarines = {
        name: "Tallarín",
        category: "tallarines",
        descripcion: "Aqui_va_la_descripcion_de_la_pagina",
        content: [
            {
                img: {
                    picture:"TALLARIN_SALTEADO_DE_RES",
                    extention: ".jpg"
                },
                text: "Tallarín Salteado de Res",
                description: "Tallarín salteado con carne de res en wok con vegetales y condimentos.",
                price_uno: 26,
                price_dos: 36,
                link:"Tallarin_Salteado_de_Res.html",
                status: true
            },
            {
                img: {
                    picture:"TALLARIN_SALTEADO_DE_POLLO",
                    extention: ".jpg"
                },
                text: "Tallarín Salteado de Pollo",
                description: "TallarÍn salteado con pollo en wok con vegetales y condimentos.",
                price_uno: 24,
                price_dos: 34,
                link:"Tallarin_Salteado_de_Pollo.html",
                status: true
            },
            {
                img: {
                    picture:"TALLARIN_DE_MAR_SALTEADO",
                    extention: ".jpg"
                },
                text: "Tallarín de Mar Salteado",
                description: "TallarÍn salteado con langostinos en wok con vegetales y condimentos.",
                price_uno: 30,
                price_dos: 40,
                link:"Tallarin_de_Mar_Salteado.html",
                status: true
            },
            {
                img: {
                    picture:"TALLARIN_SALTEADO_CERDO",
                    extention: ".jpg"
                },
                text: "Tallarín Salteado de Cerdo",
                description: "Tallarín salteado con cerdo en wok con vegetales y condimentos.",
                price_uno: 26,
                price_dos: 36,
                link:"Tallarin_Salteado_de_Cerdo.html",
                status: true
            },
            {
                img: {
                    picture:"TALLARIN_SALTEADO_VEGETARIANO",
                    extention: ".jpg"
                },
                text: "Tallarín Vegetariano",
                description: "Tallarín salteado en wok con vegetales y condimentos.",
                price_uno: 22,
                price_dos: 30,
                link:"Tallarin_Vegetariano.html",
                status: true
            },
            
            
        ]
    }