extends ../templates/template-dishes
include ../mixins/platos
block append config
    // TODO: * Modificar nombre de Objeto
    - page = combos.name
    // TODO: * Modificar nombre de Objeto
    - metadescripcion = combos.descripcion
block content
    .container-dishes
        .dishes.container
            include ../mixins/platos-body
            // TODO: * Modificar nombre de Objeto
            +platos-body(combos)