extends ../../templates/template-plate.pug
include ../../mixins/plato
append config
    //- TODO: * Modificar el numero de plato. Y el nombre del objeto
    - plato = 0;
    //- - numSponsor= 0; 
    - page = tallarines.content[plato].text
    - metadescripcion = tallarines.content[plato].description
block content
    // TODO: 
    - var tamanio = {uno:"M",dos:"G"}
    +platoTamanio(tallarines.content[plato], sponsor[numSponsor],tallarines.category,tamanio)
            
    include ../../blocks/btn_atras
    //- TODO:
    +btn(tallarines.category)