extends ../../templates/template-plate.pug
include ../../mixins/plato
append config
    //- TODO: * Modificar el numero de plato. Y el nombre del objeto
    - plato = 0;
    //- - numSponsor= 0; 
    - page = ramens.content[plato].text
    - metadescripcion = ramens.content[plato].description
block content
    // TODO: 
    - var tamanio = {uno:"G",dos:"M"}
    +platoTamanio(ramens.content[plato], sponsor[numSponsor],ramens.category,tamanio)
            
    include ../../blocks/btn_atras
    //- TODO:
    +btn(ramens.category)