.headerdishes
    .headerdishes__content.container
        img.headerdishes__line.headerdishes__line--left(src="media/linea.svg", alt="")
        h3.headerdishes__text #{page}
        img.headerdishes__line(src="media/linea.svg", alt="")