extends ../../templates/template-plate.pug
include ../../mixins/plato
append config
    //- TODO: * Modificar el numero de plato. Y el nombre del objeto
    - plato = 1;
    //- - numSponsor= 0; 
    - page = doner_kebabs.content[plato].text
    - metadescripcion = doner_kebabs.content[plato].description
block content
    // TODO: 
    +plato(doner_kebabs.content[plato], sponsor[numSponsor],doner_kebabs.category)
            
    include ../../blocks/btn_atras
    //- TODO:
    +btn(doner_kebabs.category)