@media screen and(max-width:360px) {
  .dishes {
    &__name {
    }
  }
  .menu {
    &__nav{
      width: 100%;
    }
    &__item {
      width: 120px;
    }
  }
  .lists {
  }
  .chops {
  }
}
@media screen and(max-width:300px) {
  .header{
    &__logo{
      width: 60%;
    }
  }
  .menu{
    &__item{
      width: 100px;
      height: 70px;
    }
  }
  .dishes{
    
  }
}
