@media screen and(max-device-width:768px) {
  .container {
    width: 90%;
  }
  .menu {
    margin: 0 auto;
    &__body{
      width: 90%;
    }
    &__nav {
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
    }
    &__item {
      margin:0 auto;
    }
    &__text{
      line-height: 1.5;
    }
  }
  .header {
    &__logo {
      width: 250px;
    }
  }
  .dishes {
    grid-template-columns: repeat(3, 1fr);
  }
  .plate {
    width: 480px;
    &__img {
      width: 100%;
    }
    &__logo {
    }
    &__pepsi {
      width: 50px;
    }
  }
  .lists {
    max-width: 550px;
  }
  .btn {
    bottom: 30px;
    right: 30px;
    width: 90px;
  }
}
