extends ../../templates/template-plate.pug
include ../../mixins/plato
append config
    //- TODO: * Modificar el numero de plato. Y el nombre del objeto
    - plato = 10;
    //- - numSponsor= 0; 
    - page = sushis.content[plato].text
    - metadescripcion = sushis.content[plato].description
block content
    // TODO: 
    - var unidades = {valoruno: "2 uni", valordos:"4 uni"}
    +platoUnidades(sushis.content[plato], sponsor[numSponsor],sushis.category, unidades)
            
    include ../../blocks/btn_atras
    //- TODO:
    +btn(sushis.category)