extends ../../templates/template-plate.pug
include ../../mixins/plato
append config
    //- TODO: * Modificar el numero de plato. Y el nombre del objeto
    - plato = 13;
    //- - numSponsor= 0; 
    - page = otros.content[plato].text
    - metadescripcion = otros.content[plato].description
block content
    // TODO: 
    - var unidades = {valoruno: "4 uni", valordos:"2 uni"}
    +platoUnidades(otros.content[plato], sponsor[numSponsor],otros.category,unidades)
            
    include ../../blocks/btn_atras
    //- TODO:
    +btn(otros.category)