extends ../../templates/template-plate.pug
include ../../mixins/plato
append config
    //- TODO: * Modificar el numero de plato. Y el nombre del objeto
    - plato = 0;
    //- - numSponsor= 0; 
    - page = otros.content[plato].text
    - metadescripcion = otros.content[plato].description
block content
    // TODO: 
    +plato(otros.content[plato], sponsor[numSponsor],otros.category)
            
    include ../../blocks/btn_atras
    //- TODO:
    +btn(otros.category)